body {
    background-color: #d9d9d9;
    font-family: Lato, sans-serif;
}

.logo {
    width: 200px;
    height: 200px;
    background-color: #BDD9BF;
}

header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: #BDD9BF;
}

.slogan {
    font-style: italic;
    background: white;
    font-size: medium;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    border: 10px solid #BDD9BF;
}

.timer-app {
    padding-top: 2rem;
    height: 400px;
    width: 400px;
    position: relative;
    left: 20%;
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 10px;
    stroke: #C66547;
}

.start-button {
    background-color: #BDD9BF;
    color: #0E3B43;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
}

.squeeze-time {
    background-color: #C66547;
    color: white;
}

.relax-time {
    background-color:#357366;
    color: white;
}
.repetitions {
    background-color: #0E3B43;
    color: white;
}

.set-timer {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.set-timer button {
    text-align: left;
}

.reminder {
    background-color: white;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    font-style: italic;
}

.bookmark {
    position: relative;
    left: 80%;
    top: 38%;
    padding: 1px 10px 5px 10px;
    z-index: 3;
    background-color:#C66547;
    border: solid 2px white;
    width: 150px;
    font-size: small;
}

.bookmark-icon img {
    width: 30px;
    height: 30px;
}


.how-to-use {
    background-color: white;
    padding-left: 10px;
}

h6 {
    font-size: medium;
}

.how-to-use p {
    font-size: small;
}

footer {
    background-color: #0E3B43;
    color: white;
    padding: 10px;
    font-family: Lato, sans-serif;
    font-style: italic;
}

@media (max-width: 768px) {
    .bookmark {
        display: none;
    }
}

@media (min-width: 960px) {
    .set-timer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 50px;
        width: 300px;
        position: relative;
        top: 20%;
        left: 10%;
        font-size: 40px;
    }
    
    .timer-app {
        height: 400px;
        width: 400px;
        position: static;
        padding-left: 200px;
    }

    .set-timer, .timer-app {
        display: inline-block;
    }
    .reminder {
        position: absolute;
        bottom: 58%;
        right: 50%;
        width: 600px;
        height: 50px;
        padding: 5px 10px 5px 10px;
        background-color: #0E3B43;
        border: 3px solid white;
        color: white;
    }
}