body {
    background-color: #d9d9d9;
    font-family: Lato, sans-serif;
}

.logo {
    width: 200px;
    height: 200px;
    background-color: #BDD9BF;
}

header {
    display: flex;
    justify-content: center;
    align-items: stretch;
    background: #BDD9BF;
    width: 100%;
}

.slogan {
    font-style: italic;
    background: white;
    font-size: medium;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    border: 10px solid #BDD9BF;
}

.timer-app {
    padding-top: 3rem;
    padding-left: 2rem;

}

#timer-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #0E3B43;
}

.start-button {
    background-color: #BDD9BF;
    color: #0E3B43;
    font-weight: bold;
    font-size: larger;
    text-transform: uppercase;
    border-radius: 7px;
    margin-top: 1rem;
}

.start-button:hover {
    background-color: #C66547;
    color: white;
}


.squeeze-btn {
    background-color: #C66547;
    color: white;
}

.relax-btn {
    background-color:#357366;
    color: white;
}
.repetitions-btn {
    background-color: #0E3B43;
    color: white;
}

.set-timer {
    padding-top: 4rem;
    display: inline-block;
    padding-bottom: 20px;
}

input {
    border-radius: 5px;
    border: 1px solid white;
}

.set-timer button {
    text-align: center;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    display: none;
}

input:focus {
    background-color:#d9d9d9;
}

.reminder {
    background-color: white;
    padding: 5px 10px 10px 10px;
    font-size: 12px;
    font-style: italic;
}

.bookmark {
    position: absolute;
    left: 70%;
    top: 30%;
    padding: 1px 10px 5px 10px;
    z-index: 3;
    border-radius: 6px;
    background-color:#C66547;
    border: solid 2px #0E3B43;
    color: rgb(30, 29, 29);
    width: 150px;
    font-size: small;
}

.bookmark:hover{
    background-color: #cf8974;
    color: white;
}

.bookmark-icon img {
    width: 30px;
    height: 30px;
}


.how-to-use {
    background-color: white;
    padding-left: 10px;
}

h6 {
    font-size: medium;
}

.how-to-use p {
    font-size: small;
}

footer {
    background-color: #0E3B43;
    color: white;
    padding: 10px;
    font-family: Lato, sans-serif;
    font-style: italic;
    width: 100%;
}

@media (max-width: 768px) {
    .bookmark {
        display: none;
    }
}

@media (max-width: 320px) {
    #timer-circle {
        width: 150px;
        height: 150px;
    }
}
@media (min-width: 960px) {
    .set-timer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;
        width: 300px;
        margin-left: 1rem;
    }
    
    .reminder {
        width: 600px;
        height: 150px;
        padding: 5px 10px 5px 10px;
        background-color: #0E3B43;
        border: 3px solid white;
        color: white;
    }

    main {
        display: flex;
        flex-direction: row;
    }

    .bookmark {
        position: static;
    }
    
    footer {
        margin-top: 2rem;
    }
}